$Dark-blue: hsl(208, 49%, 24%);


.intro-cont {
    margin: 150px 0;

    h2 {
        margin-bottom: 60px;
        text-align: center;
        font-size: 33px;
        color: $Dark-blue;
    }

    .intro-png {
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
    
        .intro-box {
            flex-basis: 450px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 10px 20px;
            
    
            div {
                max-width: 600px;
                width: 100%;
                line-height: 28px;
                margin-bottom: 30px;
    
                h3 {
                    color: $Dark-blue;
                }
    
                p {
                    color: #555;
                }
            }
        }
        
        .png-box {
            flex-basis: 450px;
            flex-grow: 1;
            position: relative;
            height: 500px;

            img {
                position: relative;
                top: 50%;
                left: 50%;
                width: 120%;
                transform: translate(-25%, -50%);
                z-index: -1;
            }
        }
    }
}

@media only screen and (max-width: 939px) {
   .intro-cont {
       margin: 100px 0;

       h2 {
           margin-bottom: 80px;
       }
   }
    .intro-box {
        display: flex;
        margin-top: 100px;
        align-items: center !important;
    }
}

@media only screen and (max-width: 500px) {
    .intro-cont {
        h2 {
            padding: 0 20px;
            margin-bottom: 0;
        }

        .intro-box {
            margin-top: 0;
        }

        .png-box {
            height: 450px;
        }
    }
}


