$State-blue: hsl(237, 23%, 32%);
$White-text: hsl(0, 0%, 100%);
$light-gray: #f2f2f2;


.state-cont {
    margin: 250px 0 50px 0;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    background: rgb(39,40,63);
    background: linear-gradient(90deg, rgba(39,40,63,1) 27%, rgba(63,65,100,1) 100%);

    .circle-box {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        overflow: hidden;

        img {
            transform: translateY(-10%);
            width: 100%;
        }
    }

    .state-box {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1400px;
        width: 100%;
        z-index: 1;
        flex-wrap: wrap;
        
        .state-img-box {
            flex-basis: 400px;  
            flex-grow: 1;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text-box {
            padding: 50px 30px;
            line-height: 25px;
            flex-basis: 400px;
            flex-grow: 1;

            h2 {
                font-size: 32px;
                color:hsl(0, 0%, 100%);
                margin: 30px 0;
            }
            p {
                color: $light-gray;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .state-img-box {
        height: 350px;

        img {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -30%);
            width: 80%;
        }
    }
}

 @media only screen and (max-width: 899px) {

        .state-cont {
            padding: 0 20px;
            margin: 200px 0 50px 0;

            .state-img-box {
                img {
                    width: 70%;
                }
            }
            
            .text-box {
                text-align: center;
                padding: 0px 20px 60px 20px;
            }
        }     
}


 